
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.grid {
    width: 700px;
    height: 700px;
    display: flex;
    border: solid;
    flex-wrap: wrap;
}

#square {
    flex: 1 1 auto;
}